# Python cache
__pycache__/
*.py[cod]

# Environnements virtuels
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak
*.swp

# Modèles entraînés
*.pt*
*.pth*
*.ckpt*
